@model WebApplication1.ViewModels.Monit10_1516.AddLearnerVM

@{
    ViewBag.Title = "AddLearner";
}

<h3>Добавить учащегося</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.learner.Surname, new { @class = "control-label col-md-1" })
            @Html.TextBoxFor(x => x.learner.Surname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.learner.Name, new { @class = "control-label col-md-1" })
            @Html.TextBoxFor(x => x.learner.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.learner.SecondName, new { @class = "control-label col-md-1" })
            @Html.TextBoxFor(x => x.learner.SecondName, new { @class = "form-control" })
        </div>
    </div>

    <table class="table table-striped table-bordered table-condensed" cols="2" border="1" cellspacing="0" cellpadding="10" align="center">
        <tr bgcolor="#efefef">
            <th class="not_mapped_style" style="text-align:center" width="500"> Элемент содержания </th>
            <th class="not_mapped_style" style="text-align:center"> % выполнения по КИМ ОГЭ-2015 </th>
        </tr>
        <tr colspan="3">
            <td colspan="2" bgcolor="#008080">
                <i><b><big> Русский язык </big></b></i>
            </td>
        </tr>

        @{
            int number = 1;
            for (int i = 0; i < 16; i++)
            {
                <tr bgcolor="#efefef">
                    <td>
                        @Html.HiddenFor(x => x.ElementPlans[i].ElCode)
                        @Html.DisplayFor(modelItem => modelItem.ElementPlans[i].ElName)
                    </td>
                    <td align="center">
                        @Html.CheckBoxFor(x => x.ElementPlans[i].Checkbool, new { onchange = String.Format("checkk(this, 'text{0}');", number) })
                        @Html.TextBoxFor(x => x.ElementPlans[i].ValueOge15, new { @id = String.Format("text{0}", number++), @disabled = true })
                    </td>
                </tr>
                if (i == 7)
                {
                    <tr colspan="3">
                        <td colspan="2" bgcolor="#008080">
                            <i><b><big> Математика </big></b></i>
                        </td>
                    </tr>
                }

            }
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-0">
            <input type="submit" value="Добавить" class="btn btn-success" />
        </div>
    </div>
}

<script>
    function checkk(elem, _textID) {
        var value = elem.checked;
        var textID = document.getElementById(_textID);
        if (value == true) {
            //console.log(_textID);
            textID.disabled = false;
            //textID.value = '0';

        }
        else {
            textID.disabled = true;
            textID.value = ' ';
        }
    }
</script>