<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Monit95</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")*@
    @*@Scripts.Render("~/bundles/ajax")*@

    @Styles.Render("~/Content/css")
    @*<link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("school") || User.IsInRole("area") || User.IsInRole("rsur-particip"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Проекты
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(@"РСУР", "Spa", "Rsur")</li>                                
                                @if (User.IsInRole("school"))
                                {
                                    <li><a href="/rsur/spa#particips">«Я сдам ЕГЭ!»</a></li>
                                    <li><a href="/rsur/spa#one-two-three">1-3 классы</a></li>
                                    <li><a href="/rsur/spa#particips/oge">«Я сдам ОГЭ!»</a></li>
                                }                                
                            </ul>
                        </li>
                    }
                    @*@if (User.IsInRole("coko"))
                    {
                        <li>@Html.ActionLink(@"Школы", "Schools", "Home", new { @style = "background:NavajoWhite; color:black;" })</li>
                        <li>@Html.ActionLink(@"Коррекции", "Corrections", "Home")</li>
                    }*@
                    @if (User.IsInRole("school"))
                    {
                        @*<li>@Html.ActionLink(@"Информация", "Schoolinfo", "Home")</li>*@
                        @*<li>@Html.ActionLink("Файлы", "Report", "Report")</li>*@
                        <li><a href="/rsur/spa#school-files">Файлы</a></li>
                    }
                    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<li>@Html.ActionLink(@"Пожелания", "Index", "Wishes")</li>*@
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>Логин: @User.Identity.Name</p>
            <p>&copy; 2015-@DateTime.Now.Year, Monit95App v1.1.0</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
