<!DOCTYPE html>
<html>
<head>
    <style>
        /*Рамка вокруг форм*/
        .class1 {
            border: 1px solid red;
            padding: 10px;
            display: inline-block;            
        }
        /*.disabled {
            background: #ccc;
            color: #AAA;
            border: 1px solid #DDD;
        }*/
        
        .actual {            
            color: burlywood; /*желтый цвет*/
        }
        

        .myLi {
            list-style-image: url(../../Images/check_yes.png); /* Путь к файлу с маркером */

        }

        .colortext {
            color: red; /* Красный цвет выделения */
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
        
    @Scripts.Render("~/bundles/modernizr")        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")        
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/ajax")            
    @Scripts.Render("~/bundles/angular")    
      
    @Styles.Render("~/Content/css") <!--подключает необходимые стили в том числе bootstrap-->
    @Styles.Render("~/Content/themes/base/css")           
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />    
    <link href='@Url.Content("~/Content/site.css")' rel="stylesheet" type="text/css" />    
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                    
                </button>
                @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("coko"))
                    {
                        <li>@Html.ActionLink(@"Школы", "Schools", "Home", new { @style = "background:NavajoWhite; color:black;" })</li>
                        <li>@Html.ActionLink(@"Сбор", "GetCollect", "Collector")</li>
                    }                    
                    @if (User.IsInRole("school"))
                    {
                        <li>@Html.ActionLink(@"ОГЭ-2016", "Oge2016", "Home")</li>
                        <li>@Html.ActionLink(@"Информация", "Schoolinfo", "Home")</li>
                        <li>@Html.ActionLink("Отчеты", "Report", "Report")</li>
                    }
                        @*<li>@Html.ActionLink(@"1 класс", "Select", "Work201630", null, new { @style = "background:NavajoWhite; color:black;" })</li> //Исследование готовности 1 классов*@

                        @*<li>@Html.ActionLink(@"«Я СДАМ ОГЭ!»", "Select", "Work201628")</li>*@
                        
                        @*if (new[] { "0336", "0019", "0020", "0050", "0054", "0199", "0257", "0260", "0324", "0326", "0330", "0466", "0519" }.Contains(User.Identity.Name))
                {
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Мониторинг<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Мониторинг 10 классов</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Общий план", "GeneralPlan", "Monit10_1516")</li>
                                    <li>@Html.ActionLink("Список обучающихся", "GetLearnesList", "Monit10_1516")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }*@
                    

                    @*<li>@Html.ActionLink("Контакты", "Contact", "Home")</li>*@ @*Контакты школы*@
                    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                </ul>


               
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()        
        <hr />
        @*<p>Количество аторизованных пользователей: @Model.CountUser</p>*@
        
        <footer>
            <p>Логин: @User.Identity.Name</p>
            @*<p>@Membership.GetNumberOfUsersOnline()</p>*@            
            @*@{ Html.RenderAction("GetFooter", "Home"); }*@
            <p>&copy; 2015-@DateTime.Now.Year, Мониторинг образования региона</p>
        </footer>
    </div>       
    @*@Scripts.Render("~/bundles/jquery")*@        @*точно тут*@
    <script type="text/javascript">

    imageDir = "http://mvcreative.ru/example/6/2/snow/";
    sflakesMax = 65;
    sflakesMaxActive = 65;
    svMaxX = 2;
    svMaxY = 6;
    ssnowStick = 1;
    ssnowCollect = 0;
    sfollowMouse = 1;
    sflakeBottom = 0;
    susePNG = 1;
    sflakeTypes = 5;
    sflakeWidth = 15;
    sflakeHeight = 15;
    </script>
    <script type="text/javascript" src="http://mvcreative.ru/example/6/2/snow.js"></script>

      
      
    @RenderSection("scripts", required: false) @*точно тут*@
</body>
</html>
