<!DOCTYPE html>
<html>
<head>    
    <style>
        /*Рамка вокруг форм*/
        .class1 {
            border: 1px solid red;
            padding: 10px;
            display: inline-block;            
        }

        .navbar-nav a.active {
            background-color: #e7e7e7 !important;
            color: #555 !important;
        }
         
        .actual {            
            color: burlywood; /*желтый цвет*/
        }        

        .myLi {
            list-style-image: url(../../Images/check_yes.png); /* Путь к файлу с маркером */

        }

        .colortext {
            color: red; /* Красный цвет выделения */
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Monit95</title>
        
    @Scripts.Render("~/bundles/modernizr")        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")            
    @Scripts.Render("~/bundles/ajax")            
    @Scripts.Render("~/bundles/angular")    
    
    <!-- AngularJS Code -->
    @*Modules*@  
    <script src="~/Scripts/modules/nsurapp.js"></script>
    <script src="~/Scripts/modules/onetwothreeapp.js"></script>    
    @*Controllers*@
    <script src="~/Scripts/controllers/tabctrl.js"></script>
    <script src="~/Scripts/controllers/participctrl.js"></script>
    <script src="~/Scripts/controllers/planctrl.js"></script>
    <script src="~/Scripts/controllers/marksctrl.js"></script>           
    <script src="~/Scripts/controllers/onetwothree_participctrl.js"></script>
    <script src="~/Scripts/controllers/oneTwoThree_marksCtrl.js"></script>    
    @*Services*@
    <script src="~/Scripts/services/pparticipservice.js"></script>  
    <script src="~/Scripts/services/schoolservice.js"></script>
    <script src="~/Scripts/services/tresultservice.js"></script>
    <script src="~/Scripts/services/onetwothree_participservice.js"></script>
    <!-- AngularJS Code -->

    

    @Styles.Render("~/Content/css")                 
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />    
    <link href='@Url.Content("~/Content/site.css")' rel="stylesheet" type="text/css" />    
    <link href='@Url.Content("~/Content/mystyle.css")' rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink(@"РСУР", "Spa", "Rsur")</li>
                    }
                    @if (User.IsInRole("coko"))
                    {
                        <li>@Html.ActionLink(@"Школы", "Schools", "Home", new { @style = "background:NavajoWhite; color:black;" })</li>                        
                    }
                    @if (User.IsInRole("school"))
                    {                        
                        <li>@Html.ActionLink(@"Информация", "Schoolinfo", "Home")</li>
                        <li>@Html.ActionLink("Файлы", "Report", "Report")</li>                     
                    }                  
                    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()        
        <hr />        
        
        <footer>
            <p>Логин: @User.Identity.Name</p>

            <p>&copy; 2015-@DateTime.Now.Year, Мониторинг образования региона</p>
        </footer>
    </div>            
           
    @RenderSection("scripts", required: false)
</body>
</html>
