@model Monit95App.Services.DTOs.SchoolDto
<style>
    .glyphicon{
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer;
    }
    a {
        text-decoration: none;
    }
</style>
<div class="form-horizontal">
    <div class="form-inline">
        @Html.LabelFor(x => x.SchoolIdWithName, new { @class = "control-label col-md-3" })

        <div id="NameDiv" style="display:inline-block" class="form-control-static">
            @Model.SchoolIdWithName
        </div>
        <input size="30" id="NameInput" style="display:none" type="text" value="@Model.SchoolIdWithName"  class="form-control"/>
        @if (Model.HasNameCorrection)
        {
        <span style="color:gray" title="Коррекция обрабатывается..." class="glyphicon glyphicon-refresh"></span>
        }
         else{ 
        <a id="editName" class="glyphicon glyphicon-pencil"></a>
        }
        
        <a id="saveName" class="glyphicon glyphicon-ok" style="display:none;color:limegreen"></a>
        <a id="cancelName" class="glyphicon glyphicon-remove" style="display:none;color:red"></a>
    </div>

    @Html.LabelFor(x => x.Id, new { @class = "control-label col-md-3" })
    <div id="schoolId" class="form-control-static">
        @Model.Id
    </div>
    @Html.LabelFor(x => x.AreaCodeWithName, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.AreaCodeWithName
    </div>
    @Html.LabelFor(x => x.TownTypeName, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.TownTypeName
    </div>

    <div class="form-inline">
        @Html.LabelFor(x => x.Phone, new { @class = "control-label col-md-3" })
        <div id="PhoneDiv" style="display:inline-block" class="form-control-static">
            @Model.Phone
        </div>
        <input size="@Model.Phone.Length" id="PhoneInput" style="display:none" type="text" value="@Model.Phone" class="form-control" />
        <a id="editPhone" class="glyphicon glyphicon-pencil"></a>
        <a id="savePhone" class="glyphicon glyphicon-ok" style="display:none;color:limegreen"></a>
        <a id="cancelPhone" class="glyphicon glyphicon-remove" style="display:none;color:red"></a>
    </div>

    <div class="form-inline">
        @Html.LabelFor(x => x.Email, new { @class = "control-label col-md-3" })
        <div id="EmailDiv" style="display:inline-block" class="form-control-static">
            @Model.Email
        </div>
        <input size="30" id="EmailInput" style="display:none" type="email" value="@Model.Email" class="form-control" />
        <a id="editEmail" class="glyphicon glyphicon-pencil"></a>
        <a id="saveEmail" class="glyphicon glyphicon-ok" style="display:none;color:limegreen"></a>
        <a id="cancelEmail" class="glyphicon glyphicon-remove" style="display:none;color:red"></a>
    </div>
    @if (Model.GiaCode != 0)
    {
        @Html.LabelFor(x => x.GiaCode, new { @class = "control-label col-md-3" });
        <div class="form-control-static">
            @Model.GiaCode
        </div>
    }
    @if (!Model.VprCode.IsEmpty())
    {
        @Html.LabelFor(x => x.VprCode, new { @class = "control-label col-md-3" });
        <div class="form-control-static">
            @Model.VprCode
        </div>
    }
    <script src="~/Scripts/schoolInfoEdit/school-info.edit.js"></script>
</div>






