@model Monit95App.Domain.Core.SchoolFullInfo

<div class="form-horizontal">
    @Html.LabelFor(x => x.Name, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.Name
    </div>
    @Html.LabelFor(x => x.Id, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.Id
    </div>
    @Html.LabelFor(x => x.AreaName, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.AreaName
    </div>
    @Html.LabelFor(x => x.TownTypeName, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.TownTypeName
    </div>
    @Html.LabelFor(x => x.Phone, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.Phone
    </div>
    @Html.LabelFor(x => x.Email, new { @class = "control-label col-md-3" })
    <div class="form-control-static">
        @Model.Email
    </div>
    @if (Model.GIAcode != 0)
    {
        @Html.LabelFor(x => x.GIAcode, new { @class = "control-label col-md-3" });
        <div class="form-control-static">
            @Model.GIAcode
        </div>
    }
    @if (!Model.VPRcode.IsEmpty())
    {
        @Html.LabelFor(x => x.VPRcode, new { @class = "control-label col-md-3" });
        <div class="form-control-static">
            @Model.VPRcode
        </div>
    }
</div>






